*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "微软雅黑";
    caret-color: rgba(0,0,0,0) !important;
}
.fontWeight{
    font-weight: 600;
}
#textarea{
    overflow-y: auto;
    overflow-x: auto !important;
    display: none;
    border: 1px solid rgb(224, 224, 224);
    resize:none;
    margin-top: 5px;
    margin-left: 205px;
    padding: 5px;
    /* padding-bottom: 0; */
    font-size: 14px;
    outline:none;
}
@media screen and (min-width: 1300px){
    #textarea div[type="imgPosition"]{
        max-height: 500px !important;
    }
}
#textarea div[type="imgPosition"]{
    max-height: 400px;
    overflow-y: auto;
}
#textarea div[type="imgPosition"] img{
    max-width: 100%;
}
#textarea div[type="imgs"]{
    display: flex;
    justify-content: center;
    align-content: center;
}
#textarea div[type="imgs"] img{
    display: block;
    height: 100%;
    width: auto;
    margin: 5px;
    overflow-x: auto;
}
#textarea img{
    color: transparent;
    background-color: transparent;
}
#titleDiv{
    display: none;
}
.structure{
    display: none;
    position: fixed;
    z-index: 100;
    top: 40px;
    left: 205px;
    width: 350px;
    padding: 5px;
    height: 450px !important;
    overflow: auto;
    background-color: rgba(217, 229, 213, 0.973);
}
.structure li{
    font-weight: 600;
    text-indent: 1em;
    height: 30px;
    line-height: 30px;
    transition: all .15s;
}
.structure li:hover{
    background-color: rgba(127, 255, 212, 0.301);
}
.structure li a{
    color: #000 !important;
}
.structure li a:hover{
    text-decoration: underline;
}
.save{
    height: 34px;
    width: 65px;
    cursor: pointer;
}
#flieList{
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    display: none;
    background-color: rgb(217, 229, 213);
}
#flieList ul{
    text-indent: 0.5em;
    overflow: hidden;
    overflow-y: auto;
}
#flieList ul li{
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
}
#flieList ul li a{
    display: block;
    width: 190px;
    color: black;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

#flieList ul li:hover{
    text-decoration: underline;
}

/* 下面都是textarea中元素自定义样式属性 */
#textarea *{
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: initial;
}
pre,xc{
    display: inline;
}
.h1,.h2,.h3,.h4,.h5,.h6{
    display: block !important;
    color: black !important;
    background-color: transparent !important;
    font-weight: 600 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.h1,.h2,.h3,.h4,.h5,.h6,.line,.quote,.quote-double,.quote-three,.quote-four,.quote-five,.codes,.xc-scope{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.h1{
    font-size: 24px !important;
}
.h2{
    font-size: 22px !important;
    text-indent: 1em !important;
}
.sh2{padding-left: 1em !important;}
.h3{
    font-size: 20px !important;
    text-indent: 2em !important;
}
.sh3{padding-left: 2em  !important;}
.h4{
    font-size: 18px !important;
    text-indent: 3em !important;
}
.sh4{padding-left: 3em  !important;}
.h5{
    font-size: 16px !important;
    text-indent: 4em !important;
}
.sh5{padding-left: 4em  !important;}
.h6{
    font-size: 14px !important;
    text-indent: 5em !important;
}
.sh6{padding-left: 5em  !important;}
.line{
    display: block !important;
    height: 30px !important;
    line-height: 30px !important;
    color: rgb(139, 139, 139) !important;
    width: 100% !important;
    padding: 0 !important;
    position: relative !important;
}
.line::after{
    position: absolute !important;
    height: 1px !important;
    width: 100% !important;
    top: 16px !important;
    left: 0 !important;
    content: '' !important;
    background-color: rgb(139, 139, 139) !important;
}
.quote{
    display: block !important;
    padding: 15px !important;
    padding-left: 30px !important;
    background-color: #eef0f4 !important;
    position: relative !important;
    color: rgb(139, 139, 139) !important;
    border-left: 8px solid #dddfe4 !important;
}
.link{
    text-indent: 2em;
    color: green;
}
.quote-double{
    display: block !important;
    padding: 15px !important;
    padding-left: 30px !important;
    background-color: #09005e !important;
    position: relative !important;
    color: rgb(255, 255, 255) !important;
    border-left: 8px solid #dddfe4 !important;
}
.quote-three{
    display: block !important;
    padding: 15px !important;
    padding-left: 30px !important;
    background-color: #000000 !important;
    position: relative !important;
    color: rgb(168, 168, 168) !important;
    border-left: 8px solid #dddfe4 !important;
}
.codes{
    text-indent: 1em;
    font-size: 14px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.xc-scope{
    text-indent: 1em;
    font-size: 14px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.xc-scope-before,.xc-scope-after{
    color: rgb(119, 119, 119) !important;
}
.codes-before,.codes-after,.xc-scope-before,.xc-scope-after{
    text-indent: 0em !important;
}
.quote-four{
    display: block !important;
    padding: 15px !important;
    padding-left: 30px !important;
    background-color: #00708b !important;
    position: relative !important;
    color: rgb(255, 255, 255) !important;
    border-left: 8px solid #dddfe4 !important;
}
.quote-five{
    display: block !important;
    padding: 15px !important;
    padding-left: 30px !important;
    background-color: #640005 !important;
    position: relative !important;
    color: rgb(255, 255, 255) !important;
    border-left: 8px solid #dddfe4 !important;
}
.deleteLine{
    text-decoration: line-through !important;
}
.italic{
    font-style:italic !important;
}
.item{
    position: relative !important;
    margin-top:10px !important;
    margin-bottom: 10px !important;
    padding-left: 16px !important;
}
.item::after{
    position: absolute !important;
    content: '' !important;
    height: 5px !important;
    width: 5px !important;
    background-color: black !important;
    border-radius: 50% !important;
    font-size: 24px !important;
    left: 16px !important;
    top: 9px !important;
}
.numberItem{
    display: block !important;
    margin-top:10px !important;
    margin-bottom: 10px !important;
    padding-left: 16px !important;
    outline:none !important;
    resize:none !important;
}
.table-text-align-center tr td,.table-text-align-center tr th,.table-body-text-align-center tr td,.table-head-text-align-center tr th{
    text-align: center;
}
.table-font-weight tr td,.table-font-weight tr th,.table-font-weight tr td,.table-font-weight tr th{
    text-align: 600;
}
.table-color-red tr td,.table-color-red tr th,.table-body-color-red tr td,.table-head-color-red tr th{
    color:red;
}
.table-color-blue tr td,.table-color-blue tr th,.table-body-color-blue tr td,.table-head-color-blue tr th{
    color:blue;
}
.table-color-green tr td,.table-color-green tr th,.table-body-color-green tr td,.table-head-color-red tr th{
    color:green;
}
.table-color-block tr td,.table-color-block tr th,.table-body-color-block tr td,.table-head-color-block tr th{
    color:#ddd;
}